.clearfix:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
  overflow: hidden;
}
.clearfix:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
  overflow: hidden;
}
